.full-width {
  width: 100%;
}

h1 {
  text-align: center;
}
.login-player{
  max-width: 30em;
  margin: 0 auto;
}
.btn-width-total button {
  width: 100%;
  display: block;
  margin-top: 5px!important;
}
