<mat-grid-list class="login-player" cols="1" rowHeight="1:1">
  <h1>Aquascore</h1>
  <mat-card>
    <mat-card-content>
      <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
        <mat-form-field class="full-width" color="accent">
          <input name="email" matInput placeholder="Email" ngModel required>
        </mat-form-field>
        <mat-form-field class="full-width" color="accent">
          <input name="password" matInput placeholder="Password" type="password" ngModel required>
        </mat-form-field>

        <mat-card-actions class="btn-width-total">
          <div>
            <button mat-raised-button color="primary" type="submit">LOGIN</button>
          </div>
          <div>
            <button mat-raised-button (click)="checkRegister()" >REGISTER</button>
          </div>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</mat-grid-list>
