<div class="racing-teams">
    <div class="create">
        <a routerLink="/racing-teams/create">
            <button mat-raised-button color="primary" type="button" class="pull-right">
                Create Racing-team
                <i class="material-icons">
                    add
                </i>
            </button>
        </a>
        <a routerLink="/racing-teams/createDriver">
            <button mat-raised-button color="primary" type="button" class="pull-right" style="margin-right: 8px">
                Create Driver
                <i class="material-icons">
                    add
                </i>
            </button>
        </a>
    </div>
    <div class="team" *ngFor="let team of racingTeams">

        <h3>
            {{team.name}}
            <span class="padLeft">
                <i class="material-icons remove-team" (click)="editRacingTeam(team)">
                    edit
                </i>
            </span>
            <span class="padLeft">
                <i class="material-icons remove-team" (click)="confirmDeleteRacingTeam(team)">
                    delete
                </i>
            </span>
        </h3>

        <table mat-table [dataSource]="team.drivers" class="mat-elevation-z8">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.firstname}} {{element.lastname}} </td>
            </ng-container>

            <ng-container matColumnDef="salary">
                <th mat-header-cell *matHeaderCellDef> Salary </th>
                <td mat-cell *matCellDef="let element"> {{element.salary}} </td>
            </ng-container>

            <ng-container matColumnDef="buttons">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element">
                    <span class="padLeft">
                        <i class="material-icons remove-team" (click)="editDriver(element)">
                            edit
                        </i>
                    </span>
                    <span class="padLeft">
                        <i class="material-icons remove-team" (click)="confirmDeleteDriver(element)">
                            delete
                        </i>
                    </span>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <div>