<mat-drawer-container fullscreen>
  <mat-drawer #drawer mode="over" class="sidenav">
    <h2>Aquadis</h2>
    <mat-nav-list>
      <a mat-list-item routerLink="/overview" (click)="drawer.toggle()">Overview</a>
      <a mat-list-item routerLink="/pools" (click)="drawer.toggle()">Pools</a>
      <mat-list class="sub-item">
        <div *ngFor="let pool of userPools">
          <a mat-list-item routerLink="/pool/1" (click)="drawer.toggle()">{{pool.name}}</a>
        </div>
      </mat-list>
      <a mat-list-item routerLink="/calendar" (click)="drawer.toggle()">Calendar</a>
      <a mat-list-item routerLink="/log-out" (click)="drawer.toggle()">Log out</a>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar color="primary">
      <i class="material-icons menu-toggle" (click)="drawer.toggle()">
        menu
      </i>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
