<mat-toolbar color="primary" class="mat-elevation-z6">
  <i class="material-icons menu-toggle" (click)="drawer.toggle() && reloadPools()"
    *ngIf="userService.isLoggedIn()">
    menu
  </i>
  <img class="logo" src="/src/assets/images/f1logo.png">
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #drawer mode="over">
    <mat-nav-list>
      <a mat-list-item routerLink="/" (click)="drawer.toggle()">Overview</a>
      <a mat-list-item routerLink="/pools" (click)="drawer.toggle()">Pools</a>
      <mat-list class="sub-item">
        <div *ngFor="let pool of userPools">
          <a mat-list-item routerLink="/pool/{{pool.id}}" (click)="drawer.toggle()">{{pool.name}}</a>
        </div>
      </mat-list>
      <a mat-list-item routerLink="/racing-teams" (click)="drawer.toggle()">Racing Teams</a>
      <a mat-list-item routerLink="/calendar" (click)="drawer.toggle()">Calendar</a>
      <a mat-list-item (click)="drawer.toggle() && logOut()">Log out</a>
    </mat-nav-list>
  </mat-sidenav>

  <div class="content container">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
