<mat-card class="section">
  <mat-card-content>
    <h3>News</h3>
    <mat-list class="news-list">
      <div *ngFor="let newsItem of newsItems">
        <mat-card class="news-article">
          <img src="https://via.placeholder.com/300x200">
          <mat-card-content>
            <mat-card-title>{{newsItem.title}}</mat-card-title>
            <mat-card-subtitle>{{newsItem.date | date}}</mat-card-subtitle>
            <p>Test</p>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-list>
  </mat-card-content>
</mat-card>

<mat-card id="mobile-races" class="section">
  <h3>Upcoming races</h3>
  <mat-card-content class="upcoming-races">
    <mat-divider></mat-divider>
    <mat-list-item *ngFor="let race of races">
      <mat-divider></mat-divider>
      <p mat-line>
        <span class="race-part"><i>{{race.raceName}}</i></span>
        <span class="race-part-mid">{{race.date | date}}</span>
        <span class="race-part-right">{{race.time}}</span>
      </p>
    </mat-list-item>
  </mat-card-content>
</mat-card>

<div id="website-races">
  <h3>Upcoming races</h3>
  <div class='schedule'>
    <div class='race' *ngFor="let race of races; let i = index">
      <div class='race-number'>{{i+1}}</div>
      <div class="split"></div>
      <img class="race-country" src="/src/assets/images/countries/{{race.country}}.png">
      <div class="split"></div>
      <div class='race-name'>{{race.raceName}}</div>
      <div class='race-time'>{{race.date | date}} : {{race.time}}</div>
    </div>
  </div>
</div>

<div *ngIf="calendarOptions">
  <ng-fullcalendar #ucCalendar [options]="calendarOptions" (eventClick)="eventClick($event.detail)" (eventDrop)="updateEvent($event.detail)" (eventResize)="updateEvent($event.detail)" (clickButton)="clickButton($event.detail)"></ng-fullcalendar>
</div>