.section {
  margin: 0 0 2.5em 0;
}

.upcoming {
  display: none;
}

.date {
  color: gray;
}

i {
  text-decoration: none !important;
}

.race-part {
  display: inline-block;
  width: 40%;
  vertical-align: top;
  margin-right: 1em;
}

.race-part-mid {
  display: inline-block;
  width: 30%;
  margin-right: 1em;
  vertical-align: top;
}

.race-part-right {
  display: inline-block;
  width: 20%;
  vertical-align: top;
}

.thumbnail{ 
  display: inline-block;
  width: 280px;
  height: 200px;
  position:relative;
}

img {
   max-height: 100%;
   max-width: 100%;
}

.news-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  overflow-x: auto;
}

::-webkit-scrollbar {
  display: none;
  }

.news-article {
  float: left;
  margin-left: 2%;
  margin-bottom: 2em;
  width: 280px;
  height: 400px;
}

.newsTitle {
  font-size: 18px;
}

.schedule {
  display: flex;
  flex-direction: column;
}

.race {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 2.5rem;
  height: 40px;
  margin-left: 1%;
  overflow: hidden;
  transform: skew(-27deg);
  margin-bottom: 0.4%;
}

.race-number {
  position: relative;
  width: 10%;
  height: inherit;
  text-align: center;
  padding: 0 .5rem;
  background-color: #424242;
}

race-number:after {
    content: '';
    position: absolute;
    right: -1rem;
    width: 0;
    height: 0;
    border-top: 2rem solid #424242;
    border-right: 1rem solid transparent;
  }


.race-name {
  position: relative; 
  text-transform: uppercase;
  text-align: center;
  padding-left: 10%; 
  height: inherit;
  width: 50%;
  background-color: #424242;
}

race-name:before {
    content: '';
    position: absolute;
    left: -1rem;
    width: 0;
    height: 0;
    border-bottom: 2rem solid #424242;
    border-left: 1rem solid transparent;
  }

.race-time {
  height: inherit;
  width: 25%;
  text-align: right;
  padding-right: 5%;
  background-color: #424242;
}

.race-country {
  height: inherit;
  width: 10%;
  z-index: 9;
  background-color: #fff;
}

.split {
  width: .5rem;
  height: inherit;
  z-index: 9;
  background-color: #fff;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #mobile-races {
    display: block;
  }

  #website-races {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  /* For mobile phones: */
  #mobile-races {
    display: none;
  }

  #website-races {
    display: block;
  }
}