<mat-card class="section">
  <h3>Select the pool you're betting for</h3>
  <mat-form-field color="accent" style="width: 100%;">
    <mat-select placeholder="Select a pool" [formControl]="poolControl" required>
      <mat-option *ngFor="let pool of userPools" [value]="pool.name">
        {{pool.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="poolControl.hasError('required')">Please choose a pool!</mat-error>
  </mat-form-field>
</mat-card>

<br>

<mat-card class="section">
  <mat-card-content>
    <h3>Bet Overview</h3>
    <form #betForm="ngForm">
    <div style="margin-bottom: 1em;" *ngFor="let betItem of Bets; let i = index">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>{{betItem.title}}</mat-panel-title>
          <mat-panel-description>Points to earn: {{betItem.points}}</mat-panel-description>
        </mat-expansion-panel-header>

        <mat-divider [inset]="true"></mat-divider>
        <h4>Select driver</h4>
          <mat-form-field color="accent" style="width: 100%;">
            <mat-select placeholder="Select driver" required>
              <mat-option *ngFor="let driver of drivers" [value]="driver">
                {{driver.first_name}} {{driver.last_name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="driverControl.hasError('required')">Please choose a driver!</mat-error>
          </mat-form-field>
      </mat-expansion-panel>
    </div>
    <button mat-raised-button type="submit" style="width: 100%;" color="accent" [disabled]="betForm.invalid">Submit bets</button>
  </form>
  </mat-card-content>
</mat-card>