.calendar {
  background-color: white;
  color: grey;
}

.website-flex {
  display: flex;
  flex-wrap: nowrap;
  width: inherit;
}

.mobile-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: inherit;
}

.web-column {
  width: 50%;
  margin-left: 11%;
}

.mobile-column {
  width: 100%;
  text-align: center;
  margin-bottom: 8%;
}

.button-alignment {
  margin-right: 5%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .mobile-calendar {
    display: inline;
  }

  .website-calendar {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  /* For tablets or bigger: */
  .mobile-calendar {
    display: none;
  }

  .website-calendar {
    display: inline;
  }
}