<!-- Begin calendar navigation -->
<mat-grid-list cols="3" rowHeight="1:0.2">
  <mat-grid-tile>
    <button
      mat-raised-button color="accent"
      style="margin-right: 2%"
      mwlCalendarPreviousView
      [view]="view"
      [(viewDate)]="viewDate"
      (viewDateChange)="activeDayIsOpen = false">
      Previous
    </button>
    <button
      mat-raised-button color="accent"
      style="margin-right: 2%"
      mwlCalendarToday
      [(viewDate)]="viewDate">
      Today
    </button>
    <button
      mat-raised-button color="accent"
      style="margin-right: 2%"
      mwlCalendarNextView
      [view]="view"
      [(viewDate)]="viewDate"
      (viewDateChange)="activeDayIsOpen = false">
      Next
    </button>
  </mat-grid-tile>

  <mat-grid-tile>
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </mat-grid-tile>
  
  <mat-grid-tile>
    <button
      mat-raised-button color="accent"
      style="margin-right: 2%"
      (click)="view = CalendarView.Month"
      [class.active]="view === CalendarView.Month">
      Month
    </button>
    <button
      mat-raised-button color="accent"
      style="margin-right: 2%"
      (click)="view = CalendarView.Week"
      [class.active]="view === CalendarView.Week">
      Week
    </button>
    <button
      mat-raised-button color="accent"
      style="margin-right: 2%"
      (click)="view = CalendarView.Day"
      [class.active]="view === CalendarView.Day">
      Day
    </button>
  </mat-grid-tile>
</mat-grid-list>
<!-- End calendar navigation -->

<!-- Begin calendar itself -->
<div class="calendar">
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>
  </div>
</div>
<!-- End calendar itself -->