<!-- Begin website calendar navigation -->
<h3 style="text-align: center;">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>

<div class="website-calendar">
  <div class="website-flex">
    <div class="web-column">
      <button
        mat-raised-button color="accent"
        class="button-alignment"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="activeDayIsOpen = false">
        Previous
      </button>
      <button
        mat-raised-button color="primary"
        class="button-alignment"
        mwlCalendarToday
        [(viewDate)]="viewDate">
        Today
      </button>
      <button
        mat-raised-button color="accent"
        class="button-alignment"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="activeDayIsOpen = false">
        Next
      </button>
    </div>

    <div class="web-column">
      <button
        mat-raised-button color="accent"
        class="button-alignment"
        (click)="view = CalendarView.Month"
        [class.active]="view === CalendarView.Month">
        Month
      </button>
      <button
        mat-raised-button color="accent"
        class="button-alignment"
        (click)="view = CalendarView.Week"
        [class.active]="view === CalendarView.Week">
        Week
      </button>
      <button
        mat-raised-button color="accent"
        class="button-alignment"
        (click)="view = CalendarView.Day"
        [class.active]="view === CalendarView.Day">
        Day
      </button>
    </div>
  </div>
</div>
<!-- End website calendar navigation -->

<br>

<!-- Begin calendar itself -->
<div class="calendar">
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [weekStartsOn]= 1
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [weekStartsOn]= 1
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>
  </div>
</div>
<!-- End calendar itself -->

<br>

<div class="mobile-calendar">
  <div class="mobile-flex">
    <div class="mobile-column">
      <button
        mat-raised-button color="accent"
        class="button-alignment"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="activeDayIsOpen = false">
        Previous
      </button>
      <button
        mat-raised-button color="primary"
        class="button-alignment"
        mwlCalendarToday
        [(viewDate)]="viewDate">
        Today
      </button>
      <button
        mat-raised-button color="accent"
        class="button-alignment"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="activeDayIsOpen = false">
        Next
      </button>
    </div>

    <div class="mobile-column">
      <button
        mat-raised-button color="accent"
        class="button-alignment"
        (click)="view = CalendarView.Month"
        [class.active]="view === CalendarView.Month">
        Month
      </button>
      <button
        mat-raised-button color="accent"
        class="button-alignment"
        (click)="view = CalendarView.Week"
        [class.active]="view === CalendarView.Week">
        Week
      </button>
      <button
        mat-raised-button color="accent"
        class="button-alignment"
        (click)="view = CalendarView.Day"
        [class.active]="view === CalendarView.Day">
        Day
      </button>
    </div>
  </div>
</div>
  <!-- End mobile calendar navigation -->