<mat-grid-list class="register-player" cols="1" rowHeight="1:1">
  <mat-card class="example-card">
    <mat-card-content>
      <form class="example-form">
        <div>
          <mat-form-field class="textField-width" color="accent">
            <input matInput placeholder="First name">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="textField-width" color="accent">
            <input matInput placeholder="Last name">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="textField-width" color="accent">
            <input id="userEmail" matInput placeholder="Email">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="textField-width" color="accent">
            <input id="userPassword" matInput placeholder="Password" type="password">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="textField-width" color="accent">
            <input id="userPasswordConfirmation" matInput placeholder="Confirm password" type="password">
          </mat-form-field>

          </div>
      </form>
    </mat-card-content>
    <mat-card-actions class= "btn-width-total">
      <button mat-raised-button color="primary"(click)="check()">REGISTER</button>
    </mat-card-actions>
  </mat-card>
</mat-grid-list>
