<div class="pools">
  <a routerLink="/pools/create">
    <button mat-raised-button color="primary" type="button" class="create-pool">
      CREATE POOL
      <i class="material-icons">
        add
      </i>
    </button>
  </a>

  <div class="clear"></div>

  <div class="pool" *ngFor="let pool of userPools">
    <h3>
      {{pool.name}}
      <span *ngIf="isOwner(pool)" class="owner-menu">
        <i class="material-icons remove-pool" (click)="confirmDeletePool(pool)">
          delete
        </i>
      </span>
    </h3>

    <table mat-table [dataSource]="pool.users" class="mat-elevation-z8">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> # </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.first_name}} {{element.last_name}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
<div>
  
