.pool table {
  width: 100%;
}

.create-pool {
  float: right;
}

.clear {
  clear: both;
}

.owner-menu {
  padding-left: 10px;
}

.remove-pool {
  cursor: pointer;
  vertical-align: baseline;
}

.btn-width-total button {
  width: 20%;
  display: block;
  margin-top: 10px!important;
  float: right
}